# Build outputs
node_modules/
.next/
dist/
build/
coverage/
out/

# Environment variables
.env.local
.env.test
.env.development.local
.env.production.local

# Logs
npm-debug.log*
.pnp/
.pnp.js
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.log

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Misc
.agent/
